*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background: scroll;
}
.container{
    padding: 10px 20px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    background-size: 100%;
}
.backvid{
    position: fixed;
    z-index: -1;
}
video{
    background-position: center;
    background-size: cover;
    /* width: 100%; */
}
header{
    position: sticky;
    top: 0;
    height: 70px;
    background: transparent;
    /* opacity: 0.5; */
    z-index: 100;
    backdrop-filter: blur(12px);
    box-shadow: 5px 0 20px #000;
    
}

main{
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.banner{
    height: 500px;
    border: 1px solid #a4a4a45c;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(17, 17, 17,0.3);
    border-radius: 10px;
    backdrop-filter: blur(12px);
    box-shadow: inset 5px 0 20px #fff,
                /* inset 15px 0 50px rgb(0, 0, 0,0.5), */
                50px 0 80px rgba(255,255,255,0.5);
}

.ban-title{
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 10px;
    gap: 20px;
}

.join{
    margin-top: 30px;
    width: 30%;
    padding: 12px 0;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    color: #fffdfd;
    font-weight: bold;
    background: #a452b3;
    backdrop-filter: blur(32px);
    box-shadow: inset 2px 0 5px #fff, 
                /* inset 15px 0 50px rgba(255, 248, 248, 0.5), */
                /* 50px 0 -20px #0cccf7, */
                50px 0 80px rgba(79, 206, 229, 0.5);
}

.ban-title h1{
    color: rgba(211, 248, 233, 0.953);
    & span{
        color: #ff391f;
        font-size: 32px;
    }
}

.block{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.statement{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 5px;
    text-align: center;
    height: 200px;
    width: 210px;
    /* border: 1px solid; */
    background: #5a5a5a;
    border-radius: 10px;
    box-shadow: inset 2px 0 5px #fff;
    /* z-index: 100; */

}

.options{

    margin-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* border: 1px solid; */

}
.option{
    width: 90%;
}

.option-layout{
    border: 1px solid #e1dbdb56;
    padding: 5px 5px;
    border-radius: 20px;
    background: rgba(202, 202, 202, 0.316);
box-shadow: inset 3px 0 20px #242424,
            0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.option-overView{
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    width: 98%;
    height: 80px;
    background: rgba(136, 154, 144, 0.25);
    box-shadow: inset 5px 0 10px #fff,
            0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;

}

.proloss{
    margin-left: auto;
    margin-right: 20px;
    background:  rgba(6, 255, 6, 0.727);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid;
    padding: 10px 14px;
    border-radius: 5px;
    box-shadow: inset 5px 0 8px #fff,
                4px 0 15px hsla(0, 0%, 0%, 0.464);

    & i{

        text-shadow: 2px 1px 5px greenyellow;
        color: rgb(24, 159, 24);
        font-size: 20px;
        font-weight: 700;
    }
}
.loss{
    background:  rgba(255, 10, 6, 0.727);

    & i{
        text-shadow: 2px 1px 5px rgb(146, 28, 19);
        color: rgb(106, 17, 17);
        font-size: 20px;
        font-weight: 700;
    }
}

.option-details{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    row-gap: 15px;
    flex-direction: column;
    padding: 20px 20px;
    display: none;
}

.show{
    display: block;
}
.invest,
.sell,
.profit,
.remaining{
    display: flex;
    margin-top: 10px;
    row-gap: 20px;
    /* align-items: center; */
}

.invest-add form,
.sell-add form{
    display: flex;
    flex-direction: column;
}

.invest-add form{
    margin-left: 30px;
    & input{
        padding: 5px 5px;
    }
    & .invest-btn{
        letter-spacing: 2px;
        font-weight: 700;
        margin-top: 2px;
        border: 2px solid linen;
        background:  rgba(89, 60, 255, 0.763);
        color: rgb(255, 255, 255);
        box-shadow: inset 5px 0 8px #fff,
        4px 0 15px hsla(0, 0%, 0%, 0.464);
    }

}

.sell-add form{
    margin-left: 50px;
    & input{
        padding: 5px 5px;
    }
    .sell-btn{
        letter-spacing: 2px;
        font-weight: 700;
        margin-top: 2px;
        border: 2px solid linen;
        background:  rgba(6, 255, 6, 0.727);
        color: rgb(255, 255, 255);
        box-shadow: inset 5px 0 8px #fff,
        4px 0 15px hsla(0, 0%, 0%, 0.464);
    }

}

.invest-bal,
.sell-bal{
    margin-left: 50px;
}


.profit .per{
    margin-left: 110px;
}

.p-bal{
    margin-left: 115px;
}

.remaining{
    gap: 30px;
}












.about__section{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    & h1{
        font-family:  sans-serif;
        color: white;
        font-size: 40px;
    }

    /* z-index: 100; */
}

.financial-section{
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 100; */
}

.financial-section h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60%;
    border-top-right-radius: 50px;
    padding: 10px 20px;
    background-color: #a452b3;
    box-shadow: inset 2px 0 5px #fff;
    color: #fff;
}
.management-image img,
.financial-image img{
    transition: 1s ease;
    transition-delay: 1s;
    filter: drop-shadow(5px 0 10px rgba(0,0,0,.8));

}

.management-section{
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 100; */
}

.management-section h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    border-top-left-radius: 50px;
    padding: 10px 20px;
    background-color: #a452b3;
    box-shadow: inset -2px 0 5px #fff;
    color: #fff;
    /* transform: translateY(-10px) */
}

.review__section{
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 150px;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: center;
}
.review__section h1{
    position: absolute;
    font-size: 50Px;
}
.review{
    text-align: left;
    height: 300px;
    width: 220px;
    border: 1px solid;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: inset 5px 0 10px #fff,
            0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: .4s ease-out;
}

.review img{
    position: absolute;
    top: -60px;
    left: -15px;
}

.review-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 120px;
    margin: 0 10px;
}

.review-text i{
    color: yellow;
    font-size: 20px;
}

.review:hover{
    transform: scale(1.02);
}

@media screen and (min-width: 786px) {
    .ban-img img{
        width: 400px;
    }

    .ban-title{
        font-size: 30px;
    }
    header{
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;

    }
    .banner{
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1500px) {
    .ban-img img{
        width: 400px;
    }

    .ban-title{
        font-size: 30px;
    }
    .banner{
        width: 70%;
        margin: 0 auto;
    }
}